*#*#
*~
*.pyc
__pycache__
aws_mlops.egg-info
build
dist
.serverless
node_modules
package-lock.json
.env
.aws
.cache
.ipython
.jupyter
.ipynb_checkpoints
.local
*.log
tests/*.csv
studio.*.json
default.*.json
!default.repository.policy.json
!default.lifecycle.policy.json
example/processing/test_data/test.csv
example/processing/train_data/train.csv
example/processing/validation_data/validation.csv
example/processing/testing_data/id.csv
example/processing/testing_data/quality.csv
example/processing/testing_data/columns_names.csv
example/processing/prediction/prediction.csv
example/processing/prediction/test.csv.out
example/processing/report/report.csv
